@page "/"
@inject IConfiguration config

<PageTitle>Index</PageTitle>
<ModuleTitle title="@vMsgInicio"> </ModuleTitle>

<h1>Hello, Jair :) !</h1>
<SurveyPrompt Title="How is Blazor working for you?" />

@code{

	public string vMsgInicio = "";

	protected override void OnInitialized()
	{
		this.vMsgInicio = config["MsgBienvenido"];
	}

}
